{% extends "base.html" %}

{% block content %}



{% include "thesaurus/_submenu.html" %}


<div class="container">
  <div class="row">

    <div class="col-lg-3 col-md-12">
      {% block sidebar %}{% endblock %}
    </div>


    <div class="col-lg-6 col-md-12">

      {% block breadcrumb %}
      {% endblock %}

      {% block main_content %}
      {% endblock %}

    </div>


    <div class="col-lg-3 col-md-12">
      {% block tags %}{% endblock %}
    </div>

  </div>
</div>

{% endblock %}
